azure-ai-language-conversations==1.1.0
azure-core==1.29.3
azure-identity==1.14.0
azure-storage-blob==12.17.0
beautifulsoup4
Markdown
matplotlib
nltk
numpy==1.24.3
pandas
pytest
python-dotenv==1.0.0
requests
scikit-learn
scipy==1.9.1
seaborn
spacy==3.5.0
urllib3
pyyaml